.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.navbrand {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.5;
  text-align: center;
  margin-top: 50px;
  margin-left: 5px;
  margin-right: 5px;
  color: #eae7af;
}
span {
  color: #a72693;
  font-weight: 500;
}
.navbar {
  background-color: #000000;
}
i {
  margin: 5px;
  color: #eae7af;
}
button {
  background-color: #222831;
  margin-top: 30px;
  margin-left: 0px;
  border: none;
}

ul {
  margin-top: 100px;
}
li {
  font-family: "Montserrat", sans-serif;
  list-style: none;
  text-decoration: none;
  margin: 10px;
  color: #eae7af;
}

a {
  text-decoration: none;
  color: #eae7af;
}

.top-bar {
  background-color: #222831;
  height: 70px;
}
.top-bar input[type="text"] {
  padding: 6px;
  border: none;
  margin-top: 30px;
  margin-right: 16px;
  margin-left: 10px;
  font-size: 17px;
  background-color: #222831;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.top-bar input[type="text"]:focus {
  width: 50%;
}

.big-card {
  background-color: #222831;
}

.search-form {
  flex-basis: 70%;
}
.user-details > img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  flex-basis: 10%;
}

.user-details {
  flex-basis: 29%;
  margin: 0;
  float: right;
}

.main-card {
  display: grid;
  grid-template-columns: 20% 80%;
  margin: 70px 80px 0px;
  height: 600px;
  background-color: #241663;
}
body {
  background-image: url("images/main-background-3.jpg");
  background-size: cover;
}

.greetings {
  font-family: "Playfair Display";
  color: #eae7af;
  margin-left: 20px;
  display: inline-block;
  padding-top: 25px;
  flex-basis: 70%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  border: 3px solid #08f7fe;
  flex-basis: 45%;
  margin: 1%;
  width: auto;
  height: auto;
}

.card-header {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #08f7fe;
  font-size: 1rem;
  padding: 10px 15px 10px;
}

.card-description {
  font-family: "Lato", sans-serif;
  color: #08f7fe;
  font-size: 0.7rem;
  padding: 10px 15px 10px;
}

.card-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  padding: 2%;
  float: right;
}
.left-card {
  flex-basis: 50%;
  overflow: hidden;
  overflow-y: scroll;
  height: 580px;
}

.left-card::-webkit-scrollbar {
  width: 12px;
}

.left-card::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.left-card::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.right-card {
  flex-basis: 50%;
}

.content-cards {
  background-color: #222831;
}

.fa-times {
  color: #ff073a;
}

.fa-arrow-right {
  color: #39ff14;
}

.add-notes {
  border-radius: 10px;
  border: 3px solid #ff9de6;
  margin: 0px 15px 0px;
  padding: 0px 20px 0px;
  height: 565px;
  position: absolute;
  z-index: 1;
  width: 475px;
}

.add-notes input[type="text"] {
  border: none;
  border-bottom: 3px solid #fdc7d7;
  background-color: transparent;
  width: 100%;
  margin: 2% 0 2%;
  color: #fdc7d7;
}

.add-notes input[type="submit"] {
  padding: 2%;
  margin: 100px 200px 100px;
  border: 3px solid #ff9de6;
  border-radius: 15px;
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;
  color: #ff9de6;
  background-color: #222831;
}
h1 {
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;
  color: #ff9de6;
}

.add-notes label {
  font-family: "Lato", sans-serif;
  color: #fdc7d7;
  font-size: 1rem;
}

.display-notes {
  border-radius: 10px;
  border: 3px solid #fff5d2;
  margin: 0px 15px 0px;
  padding: 0px 20px 0px;
  height: 565px;
  position: absolute;
  z-index: -1;
  width: 475px;
}

.display-notes > h1,
h2,
p {
  color: #fff5d2;
}

.notes-details > p {
  margin-right: 3%;
}

.add-note-button > button {
  justify-content: center;
  align-items: center;
  padding: 2%;
  border: 3px solid #fff5d2;
  border-radius: 15px;
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;
  color: #fff5d2;
  width: 150px;
  margin: 3%;
}
.add-note-button > button:hover {
  box-shadow: 2px 0px 102px 0px rgba(255, 245, 210, 1);
}

.add-note-button > button:active {
  transform: scale(0.98);
}
.add-note-button {
  justify-content: center;
  align-items: center;
}

.card-content,
.card-id {
  display: none;
}

.intro > img {
  justify-content: center;
  align-items: center;
  top: 250px;
  left: 560px;
  position: absolute;
}

h1 {
  text-align: center;
}

.notes-intro {
  text-align: center;
  top: 400px;
  position: absolute;
}

.notes-intro > p {
  font-size: 30px;
}

.quotes {
  display: flex;
}

.quotes > h1,
h2 {
  flex-basis: 100%;
  font-size: 20px;
}

.overall-notes {
  position: absolute;
  top: 300px;
  border: 3px solid #fff5d2;
  border-radius: 15px;
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;
  color: #fff5d2;
  padding: 3%;
  width: 400px;
  margin-left: 20px;
}

li:hover {
  box-shadow: 2px 0px 102px 0px rgba(255, 245, 210, 1);
  border: 3px solid #fff5d2;
  border-radius: 15px;
}

li:active {
  border: 3px solid #fff5d2;
  border-radius: 15px;
}

@media screen and (max-width: 1400px) {
  .add-notes {
    width: 300px;
  }
  .display-notes {
    width: 300px;
  }
}

.view-btn:hover {
  box-shadow: -11px 0px 43px 5px rgba(57, 255, 20, 1);
}

.del-btn:hover {
  box-shadow: -11px 0px 43px 5px rgba(255, 7, 58, 1);
}

.add-notes input[type="submit"]:hover {
  color: #222831;
  background-color: #ff9de6;
}
